body {
  background-image: url("./Assets/bg1.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.playerDiv {
  height: 90vh;
}

.imgResize {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.imgLeft {
  right: 40px;
}

.profile {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#time {
  font-size: 100px;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: black;
}

.container {
  height: 90vh;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
