body {
  background-image: url("./Assets/bg1.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.playerDiv {
  height: 90vh;
}

.imgResize {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.imgLeft {
  right: 40px;
}
